<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website</title>
        <!-- WITH THIS -->
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    <!-- Creating a intro section of my website-->
        <h1>Zachary Byank</h1>
        <h2>About Me</h2>
        <p>I am a senior at the <strong>University of Maryland</strong> and a double major in <strong>Finance</strong> and <strong>Information Systems</strong>.</p>
        <p>I am 22 years old and I have 4 sisters and 3 dogs.</p>
        <p id="career-goals">I am actively pursuing full-time opportunities in the financial sector, where I hope to apply my skills in data analytics and financial modeling to drive business decisions.</p>
        <h2>My Interests</h2>
        <p class="highlight">I love to watch <em>football, play golf, and ski</em>.</p>
        <p>I want to start my career in the <em>financial sector</em>.</p>

        <p>My favorite hobbies:</p>
        <ol>
            <li>Hanging out with friends</li>
            <li>Exercising</li>
            <li>Gaming</li>
            <li>Cooking</li>
        </ol>

        <p>My Dogs Names</p>
        <ul>
            <li>Ziti</li>
            <li>Vista</li>
            <li>Bernie</li>
        </ul>

    <!-- Created a table for classes taken and when they were taken.-->

        <table>
            <tr>
                <th>Course</th>
                <th>Semester and year</th>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>Fall 2025</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2025</td>
            </tr>
            <tr>
                <td>BMGT380</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT110F</td>
                <td>Fall 2022</td>
            </tr>
        </table>
        <!-- img tag with logo class applied -->

        <p><a href="/hello" target="_blank">Hello Route</a></p>

        <!-- Added links to my favorite websites.-->
        <h3>Favorite Websites</h3>
        <p><a href="https://www.netflix.com/browse" target="_blank">Netflix</a></p>
        <p><a href="https://www.hbomax.com/" target="_blank">HBO Max</a></p>
<!-- img tag with logo class applied -->
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" class="logo" alt="UMD Logo">
    </Body>

</html>